In [1]:
a = 'python'

In [3]:
a = 'python'
b = 123
c = 1,2 
d = ['a', 'b']
e = {'name', 'lee'}

In [4]:
a = 100 #주석문을 나타내는 방법

In [5]:
a,b = 'var1', 'var2'


c = {'Tuple1', 'Tuple2'}

d = ['list1', 'list1']

print(a)
print(b)
print(c)
print(d)

var1
var2
{'Tuple2', 'Tuple1'}
['list1', 'list1']

In [8]:
a = 100  #a변수에 100의 값을 할당
b = 3,14  #b변수에 3.14의 값을 할당
c = True  #c변수에 True라는 값을 할당
print("a의 값은?", a)  
print("a의 데이터 변수의 형태는?:", type(a))  #a는 int형태의 값을 나타냄
print("b의 값은?", b)
print("b의 데이터 변수 형태는?:", type(b))   #b는 float형태의 값을 나타냄
print("c의 값은?", c)
print("c의 데이터 변수 형태는?:", type(c))   #c는 Boolean형태의 값을 나타냄

a의 값은? 100
a의 데이터 변수의 형태는?: <class 'int'>
b의 값은? (3, 14)
b의 데이터 변수 형태는?: <class 'tuple'>
c의 값은? True
c의 데이터 변수 형태는?: <class 'bool'>

In [10]:
a = 100   #정수형변수
b = 3.14  #소수형 변수

print(a)        #정수
print(bin(a))   #2진수
print(oct(a))   #8진수
print(hex(a))   #16진수

100
0b1100100
0o144
0x64

In [11]:
a = True
type(a)

bool

In [12]:
b = False
type(b)

bool

In [13]:
print(10 == 10)        # 두 값이 같은 경우 True를 출력
print(10 != 10)        #두 값이 같은 경우 Flase를 출력
print(10 < 10)
#두 값 중 좌측에 속해있는 값이 큰 경우 True를 출력, 그렇지 않을 경우 False를 출력
print(10 > 10)
#두 값 중 우측에 속해있는 값이 큰 경우 True를 출력, 그렇지 않을 경우 False를 출력
print(10 <= 10)
#두 값 중 좌측에 속해있는 값이 크거나 같은 경우 True를 출력, 그렇지 않을 경우 False를 출력
print(10 >= 10)

True
False
False
False
True
True

In [22]:
#sentence라는 변수에 두 개의 문자열을 넣음
sentence = "안녕하세요" + "반갑습니다."
sentence

'안녕하세요반갑습니다.'

In [23]:
sentence.split()
#sentence라는 변수를 공백 기준으로 나누기 위해 split함수를 사용

['안녕하세요반갑습니다.']

In [24]:
#sentence라는 변수에 '반갑습니다'라는 단어를 찾기 위해 find함수 사용
sentence.find('반갑습니다.')

5

In [25]:
#sentence라는 변수에 찾으려는 해당 문자열이 없을 시 -1을 변환
sentence.find('python')

-1

In [26]:
#sentence라는 변수에서 '.'문자를 'T'문자로 변환하기 위해 replace함수를 사용
sentence.replace('.','T')

'안녕하세요반갑습니다T'

In [27]:
#sentence라는 변수에서 '안녕'이라는 문자를 제거하기 위해 strip 함수 사용
sentence.strip('안녕')

'하세요반갑습니다.'

In [29]:
#리스트의 형태
data = [10,20, 30, 40, 50, 60]    #data를 list 형태로 생성
print(data)                       #data 값을 출력
print(type(data))                 #data에 저장된 형태를 나타냄

print(data[0])                    #list 형태의 data[0]번째를 출력
print(data[4])                    #list 형태의 data[4]번째를 출력
print(data)                       #data에 저장된 값을 출력
data[0] = data[4]                 #data[4]번째 값을 data[0]번째에도 같이 저장
print(data)                       #바뀐 data변수를 출력

[10, 20, 30, 40, 50, 60]
<class 'list'>
10
50
[10, 20, 30, 40, 50, 60]
[50, 20, 30, 40, 50, 60]

In [30]:
#data변수 안에 저장된 리스트 목록
data = ["사과", "배", "포도", "딸기", "토마토", "메론"]
print(data)

#인덱싱을 통해 리스트 내의 한의 값을 표현하는 방법
print("리스트 인덱싱을 통해 하나의 값을 표현:",data[0])

['사과', '배', '포도', '딸기', '토마토', '메론']
리스트 인덱싱을 통해 하나의 값을 표현: 사과

In [31]:
data = ["사과", "배", "포도", "딸기", "토마토", "메론"]

#슬라이싱을 통해 리스트 내의 다수의 값을 나타낼 때 표현하는 방법
print("리스트 인덱싱을 통해 하나의 값을 표현:", data[2:4])

리스트 인덱싱을 통해 하나의 값을 표현: ['포도', '딸기']

In [33]:
data_1 = [10, 20, 30, 40, 50]    #리스트형 data_1의 값
data_2 = [5, 10, 15, 20, 25]     #리스트형 data_2의 값

#data_1과 data_2를 합쳤을 때 하나로 합쳐진 데이터 형태를 볼 수 있음
data_1 + data_2

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]

In [34]:
lists = [1, 100, 'python']
print(list)
print(type(lists))
print()
#lists의 리스트에 py라는 값을 append함수를 이용해 데이터를 추가
lists.append('py')
print("py라는 값을 추가한 후의 lists: ", lists)   #lists에 추가된 py라는 값을 확인

<class 'list'>
<class 'list'>

py라는 값을 추가한 후의 lists:  [1, 100, 'python', 'py']

In [40]:
lists = [1, 100, 'python']
print(lists)
print(type(lists))
print()

#lists의 리스트에 py라는 값을 insert함수를 이용해 데이터를 추가
lists.insert(1, '0.5')
lists

[1, 100, 'python']
<class 'list'>

[1, '0.5', 100, 'python']

In [41]:
print(lists)

lists.remove('python')   #remove함수를 이용해 리스트의 'python'값을 제거
print(lists)

[1, '0.5', 100, 'python']
[1, '0.5', 100]

In [43]:
data_list = [10, 20, 30, 40, 50, 60, 70]

#min함수를 이용해 리스트 데이처 중 최소값을 검색
print("리스트 내에서 최소값을 찾을 때: ", min(data_list))

#max함수를 이용해 리스트 데이처 중 최소값을 검색
print("리스트 내에서 최소값을 찾을 때: ", max(data_list))

리스트 내에서 최소값을 찾을 때:  10
리스트 내에서 최소값을 찾을 때:  70

In [44]:
data_list = [50, 20, 40, 30, 10, 60, 90]

#sort함수를 이용해 리스트 데이터의 순서를 정렬
data_list.sort()
print(data_list)

[10, 20, 30, 40, 50, 60, 90]

In [45]:
a = [1, 2, 3, 4, 5]
b = [1, 5]
a.append(6)
b.remove(5)
print(a+b)

[1, 2, 3, 4, 5, 6, 1]