In [5]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

from IPython.display import Image

import pandas as pd
import numpy as np
import pydotplus
import os

In [6]:
tennis_data = pd.read_csv('playtennis.csv')
tennis_data

     Outlook Temperature Humidity    Wind PlayTennis
0      Sunny         Hot     High    Weak         No
1      Sunny         Hot     High  Strong         No
2   Overcast         Hot     High    Weak        Yes
3       Rain        Mild     High    Weak        Yes
4       Rain        Cool   Normal    Weak        Yes
5       Rain        Cool   Normal  Strong         No
6   Overcast        Cool   Normal  Strong        Yes
7      Sunny        Mild     High    Weak         No
8      Sunny        Cool   Normal    Weak        Yes
9       Rain        Mild   Normal    Weak        Yes
10     Sunny        Mild   Normal  Strong        Yes
11  Overcast        Mild     High  Strong        Yes
12  Overcast         Hot   Normal    Weak        Yes
13      Rain        Mild     High  Strong         No

In [7]:
tennis_data.Outlook = tennis_data.Outlook.replace('Sunny', 0)
tennis_data.Outlook = tennis_data.Outlook.replace('Overcast', 1)
tennis_data.Outlook = tennis_data.Outlook.replace('Rain', 2)

tennis_data.Temperature = tennis_data.Temperature.replace('Hot', 3)
tennis_data.Temperature = tennis_data.Temperature.replace('Mild', 4)
tennis_data.Temperature = tennis_data.Temperature.replace('Cool', 5)

tennis_data.Humidity = tennis_data.Humidity.replace('High', 6)
tennis_data.Humidity = tennis_data.Humidity.replace('Normal', 7)

tennis_data.Wind = tennis_data.Wind.replace('Weak', 8)
tennis_data.Wind = tennis_data.Wind.replace('Strong', 9)

tennis_data.PlayTennis = tennis_data.PlayTennis.replace('No', 10)
tennis_data.PlayTennis = tennis_data.PlayTennis.replace('Yes', 11)

tennis_data

    Outlook  Temperature  Humidity  Wind  PlayTennis
0         0            3         6     8          10
1         0            3         6     9          10
2         1            3         6     8          11
3         2            4         6     8          11
4         2            5         7     8          11
5         2            5         7     9          10
6         1            5         7     9          11
7         0            4         6     8          10
8         0            5         7     8          11
9         2            4         7     8          11
10        0            4         7     9          11
11        1            4         6     9          11
12        1            3         7     8          11
13        2            4         6     9          10

In [8]:
X = np.array(pd.DataFrame(tennis_data, columns = {'Outlook', 'Temperature', 'Humidity', 'Wind'}))
y = np.array(pd.DataFrame(tennis_data, columns = {'PlayTennis'}))

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [10]:
dt_clf = DecisionTreeClassifier()
dt_clf = dt_clf.fit(X_train, y_train)

In [11]:
dt_prediction = dt_clf.predict(X_test)

In [12]:
print(confusion_matrix(y_test, dt_prediction))

[[1 0]
 [2 1]]

In [13]:
print(classification_report(y_test, dt_prediction))

              precision    recall  f1-score   support

          10       0.33      1.00      0.50         1
          11       1.00      0.33      0.50         3

    accuracy                           0.50         4
   macro avg       0.67      0.67      0.50         4
weighted avg       0.83      0.50      0.50         4

In [47]:
os.environ["PATH"] += os.pathsep + 'C:\Program Files (x86)\graphviz-2.46.0\windows\bin'

In [48]:
feature_names = tennis_data.columns.tolist()
feature_names = feature_names[0:4]

In [49]:
target_name = np.array(['Play No', 'Play Yes'])

In [50]:
dt_dot_data = tree.export_graphviz(dt_clf, out_file = None, feature_names = feature_names, class_names = target_name, filled = True, rounded = True, special_characters = True)

In [51]:
dt_graph = pydotplus.graph_from_dot_data(dt_dot_data)

In [73]:
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd

In [74]:
#loading the iris dataset
iris = load_iris()

#training data 설정
x_train = iris.data[:-30]
y_train + iris.target[:-30]
#test data 설정
x_test = iris.data = iris.data[:-30]  #test feature data
y_test = iris.target[:-30]  #test target data

In [75]:
print(y_train)

[[10]
 [11]
 [11]
 [11]
 [11]
 [10]
 [11]
 [11]
 [10]
 [10]]

In [76]:
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2]

In [77]:
#RandomForestClassifier 클래스를 import
from sklearn.ensemble import RandomForestClassifier

In [78]:
#RandomForestClassifier libaray를 import
from sklearn.ensemble import RandomForestClassifier
#tree의 개수 Random Forest 분류 모듈 생성
rfc = RandomForestClassifier(n_estimators=10)
rfc

RandomForestClassifier(n_estimators=10)

In [ ]:
rfc.fit(x_train, y_train)
#Test data를 입력해 target data를 예측
prediction = rfc.predict(x_test)
#예측결과 precision과 실제 test data의 target을 비교
print(prediction == y_test)

In [ ]:
#Random forest 정확도 측정
rfc.score(x_test, y_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print("Accuracy is : “, accuracy_score(prediction, y_test))
print("===========================================”)
print(classification_report(prediction, y_test))

In [ ]:
from sklearn.model_selection import train_test_split
x = iris.data
y = iris.target
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2)
print(y_test)
print(Y_test)

In [ ]:
clf = Randomforestclassifier(n_estimators=10)
clf.fit(X_train, Y_train)
prediction_1 = clf.predict(X_test)
#print  ("prediction_1 == Y_test)
print("Accuracy is : ", accuracy_score(prediction_1, Y_test))
print("===========================================”)
print(classification_report((prediction_1, Y_test)))

In [ ]:
#Initialize the model
clf_2 = RandomForestClassifier(n_estimators=200, #Number of trees 
                              max_features=4,  #Num features considered
                              oob_score=True  #Use OOB scoring*)
                               
clf_2.fit(X_train, Y_train)
prediction_2 = clf_2.predict(X_test)
print("Accuracy is : ", accuracy_score(prediction_2, Y_test))
print("===========================================”)
print(classification_report((prediction_2, Y_test)))

In [ ]:
for feature, imp in zip(iris.feature_names, clf_2.feature_importances_):
    print(feature, imp)